@import './styles/tokens.css';

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100%;
  overflow-x:hidden;

  background:var(--bg-root);
}

body{
  font-family:Inter,sans-serif;

  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

a{
  text-decoration:none;
  color:inherit;
}

button,
input,
textarea{
  font:inherit;
}